@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: "semibold";
    src: url("./Fonts/otf/SFNSDisplay-Semibold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "medium";
    src: url("./Fonts/otf/SFNSDisplay-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "bold";
    src: url("./Fonts/otf/SFNSText-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "light";
    src: url("./Fonts/otf/SFNSText-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "regular";
    src: url("./Fonts/otf/SFNSText-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "regular3";
    src: url("./Fonts/otf/SFNSText-RegularG3.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-family: "regular3", sans-serif;
    @apply text-[12px];
  }
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #007aff;
  border-radius: 50%;
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-radio-circle {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #007aff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
  display: none;
}

.custom-radio:checked + .custom-radio-circle {
  display: block;
}

.custom-radio:hover {
  border-color: #0056cc;
}

.swiper-pagination-course {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 10px 29px;
  width: 100%;
  z-index: 10;
  cursor: pointer;
}

::-webkit-scrollbar {
  @apply bg-[#D9D9D9] w-2 rounded-xl;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#A8A8A8] rounded-xl;
}